<div class="row">
    <div class="col-12">
      <h2>Find Your Best Food</h2>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, excepturi?
          <hr>
        </div>
        <div class="col-md-4">
          Minima voluptates suscipit totam hic aut culpa maxime quidem debitis.
          <hr>
        </div>
        <div class="col-md-4">
          Sequi atque esse aperiam harum soluta voluptates iste quam officiis.
          <hr>
        </div>
        <div class="col-md-4">
          Natus cumque atque eius dolor maxime deleniti cupiditate, omnis error!
          <hr>
        </div>
        <div class="col-md-4">
          Vel incidunt molestiae saepe numquam eligendi accusamus non porro laborum.
          <hr>
        </div>
        <div class="col-md-4">
          Iure dolorem pariatur temporibus magni amet dignissimos animi saepe recusandae.
          <hr>
        </div>
      </div>
    </div>
  </div>